<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @researcher.name %>
</p>

<p>
  <b>Department:</b>
  <%= Department.find(@researcher.department_id).name %>
</p>


<%= link_to 'Edit', edit_researcher_path(@researcher) %> |
<%= link_to 'Back', researchers_path %>
