<style tyle="text/css">
  DIV
  {
    vertical-align: top;
  }

  .header
  {
    position: relative;
    display: block;
    padding: 10px;
  }

    .header .search-ra
    {
      margin-left: 100px;
    }

  .data-container
  {
    position: relative;
    display: inline-block;
    margin: 0 0 1em;
    padding: 0;
    width: 24%;
    background: #EEEEEE;
    border: 1px solid #CCCCCC;
  }

    .data-container.two-col
    {
      width: 48%;
    }

    .data-container.three-col
    {
      width: 32%;
    }

  .data-container H3
  {
    position: relative;
    display: block;
    margin: 0;
    padding: 6px 4px;
    color: #EEEEEE;
    background: #4A4A4A;
    border-width: 1px 1px 0;
    border-style: solid;
    border-color: #FFFFFF;
  }

  .data-container .data-rows
  {
    position: relative;
    display: block;
    height: 225px;
    overflow-y: scroll;
    border-width: 0 1px 1px;
    border-style: solid;
    border-color: #FFFFFF;
  }

  .data-container .data-rows .data-row
  {
    position: relative;
    display: block;
    padding: 6px 4px;
    overflow-x: hidden;
    white-space: nowrap;
    background: #edf8ff;
    border-bottom: 1px solid #999999;
    cursor: pointer;
  }

  .data-container .data-rows .data-row:nth-child(even)
  {
    background: #cddfeb;
  }

  .data-container .data-rows .data-row.inactive
  {
    color: #999999;
    background: #EEEEEE;
    border-bottom: 1px solid #CCCCCC;
  }

  .data-container .data-rows .data-row.inactive:nth-child(even)
  {
    background: #DDDDDD;
  }

  .data-container .data-rows .data-row:hover
  {
    background: #ffc78b !important;
  }
</style>

<%= form_tag "/concepts/one", :method => "get" do |f| %>
<div class="header">
</div>
<% end %>

<div class="data-container three-col research_areas">
  <h3>Research Areas (<%= @selected_research_areas.length %>)</h3>
  <div class="data-rows">
    <% @selected_research_areas.each do |research_area| %>
      <div class="data-row" model_id="<%= research_area.id %>"><%= research_area.name %></div>
    <% end %>
    <% @research_areas.each do |research_area| %>
      <div class="data-row inactive" model_id="<%= research_area.id %>"><%= research_area.name %></div>
    <% end %>
  </div>
</div>

<div class="data-container three-col publications">
  <h3>Publications (<%= @selected_publications.length %>)</h3>
  <div class="data-rows">
    <% @selected_publications.each do |publication| %>
      <div class="data-row" model_id="<%= publication.id %>"><%= publication.name %></div>
    <% end %>
    <% @publications.each do |publication| %>
      <div class="data-row inactive" model_id="<%= publication.id %>"><%= publication.name %></div>
    <% end %>
  </div>
</div>

<div class="data-container three-col researchers">
  <h3>Researchers (<%= @selected_researchers.length %>)</h3>
  <div class="data-rows">
    <% @selected_researchers.each do |researcher| %>
      <div class="data-row" model_id="<%= researcher.id %>"><%= researcher.name %></div>
    <% end %>
    <% @researchers.each do |researcher| %>
      <div class="data-row inactive" model_id="<%= researcher.id %>"><%= researcher.name %></div>
    <% end %>
  </div>
</div>

<div class="data-container departments">
  <h3>Departments (<%= @selected_departments.length %>)</h3>
  <div class="data-rows">
    <% @selected_departments.each do |department| %>
      <div class="data-row" model_id="<%= department.id %>"><%= department.name %></div>
    <% end %>
    <% @departments.each do |department| %>
      <div class="data-row inactive" model_id="<%= department.id %>"><%= department.name %></div>
    <% end %>
  </div>
</div>

<div class="data-container venues">
  <h3>Venues (<%= @selected_venues.length %>)</h3>
  <div class="data-rows">
    <% @selected_venues.each do |venue| %>
      <div class="data-row" model_id="<%= venue.id %>"><%= venue.name %></div>
    <% end %>
    <% @venues.each do |venue| %>
      <div class="data-row inactive" model_id="<%= venue.id %>"><%= venue.name %></div>
    <% end %>
  </div>
</div>

<div class="data-container grants">
  <h3>Grants (<%= @selected_grants.length %>)</h3>
  <div class="data-rows">
    <% @selected_grants.each do |grant| %>
      <div class="data-row" model_id="<%= grant.id %>"><%= grant.title %></div>
    <% end %>
    <% @grants.each do |grant| %>
      <div class="data-row inactive" model_id="<%= grant.id %>"><%= grant.title %></div>
    <% end %>
  </div>
</div>

<div class="data-container patents">
  <h3>Patents (<%= @selected_patents.length %>)</h3>
  <div class="data-rows">
    <% @selected_patents.each do |patent| %>
      <div class="data-row" model_id="<%= patent.id %>"><%= patent.title %></div>
    <% end %>
    <% @patents.each do |patent| %>
      <div class="data-row inactive" model_id="<%= patent.id %>"><%= patent.title %></div>
    <% end %>
  </div>
</div>

<%= form_tag "/concepts/two", :id => "form_two", :method => "get" do |f| %>
  <%= hidden_field_tag "research_area_id" %>
  <%= hidden_field_tag "publication_id" %>
  <%= hidden_field_tag "researcher_id" %>
  <%= hidden_field_tag "department_id" %>
  <%= hidden_field_tag "venue_id" %>
  <%= hidden_field_tag "grant_id" %>
  <%= hidden_field_tag "patent_id" %>
<% end %>

<script type="text/javascript">
  $(document).ready(function() {
    // Research Areas
    $(".data-row", $(".data-container.research_areas")).click(function() {
      var id = $(this).attr("model_id");
      $("INPUT[name='research_area_id']").val(id);
      $("#form_two").submit();
    });

    // Publications
    $(".data-row", $(".data-container.publications")).click(function() {
      var id = $(this).attr("model_id");
      $("INPUT[name='publication_id']").val(id);
      $("#form_two").submit();
    });

    // Researchers
    $(".data-row", $(".data-container.researchers")).click(function() {
      var id = $(this).attr("model_id");
      $("INPUT[name='researcher_id']").val(id);
      $("#form_two").submit();
    });

    // Departments
    $(".data-row", $(".data-container.departments")).click(function() {
      var id = $(this).attr("model_id");
      $("INPUT[name='department_id']").val(id);
      $("#form_two").submit();
    });

    // Venues
    $(".data-row", $(".data-container.venues")).click(function() {
      var id = $(this).attr("model_id");
      $("INPUT[name='venue_id']").val(id);
      $("#form_two").submit();
    });

    // Grants
    $(".data-row", $(".data-container.grants")).click(function() {
      var id = $(this).attr("model_id");
      $("INPUT[name='grant_id']").val(id);
      $("#form_two").submit();
    });

    // Patents
    $(".data-row", $(".data-container.patents")).click(function() {
      var id = $(this).attr("model_id");
      $("INPUT[name='patent_id']").val(id);
      $("#form_two").submit();
    });
  });
</script>
